body{
    background-color: lightgray;
    margin:0;
    padding:0;
}
div h1{
    font-family:system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: center;
    font-size: 80px;
}
.parking-lot
{
    width: 100vw;
}